body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;    
    margin-left: 30px;      
}

h1 {
    text-align: center;
    text-transform: uppercase;    
}

header * {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

nav li {
    margin: 20px;
}

a {
    text-decoration: none;
    color:darkorchid;    
}

details summary { 
    cursor: pointer;
}

details summary > * { 
    display: inline;
}

form {
    background-color: lightgrey;
    padding: 10px;
}

article {
    border-radius: 6px;
    border: 1px solid #169b6f;
    padding: 15px 30px;
    background-color: rgb(240, 240, 236);
    margin-top: 10px;
}

article img {
    max-height: 200px;    
}

article a {
    color: #169b6f;
}

footer {    
    margin-top: 5px;
    padding: 10px 5px;
    background-color: black;
    color: #CCC;   
}

footer img {
    max-height: 50px;   
}

footer ul {
    list-style-type: "| ";
    margin: 0;
    padding: 10px;
    display: inline;
}

footer li {
    margin: 10px;
}

footer a {
    color: #AAA;
}