body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;    
    padding-left: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;    
}

nav ul {    
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

nav li {
    margin: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color:#9932cc;    
}

details summary { 
    cursor: pointer;
}

details summary > * { 
    display: inline;
}

form {
    background-color: #d3d3d3;
    padding: 10px;
}

article {
    border-radius: 6px;
    border: 1px solid #203090;
    padding: 15px 30px;
    background-color: #eee;
    margin-top: 10px;
}

article img {
    max-height: 200px;    
}

article a {
    color: #203090;
}

footer {    
    margin-top: 5px;
    padding: 10px 5px;
    background-color: black;
    color: #CCC;   
    border-radius: 6px;
}

footer img {
    max-height: 50px;   
}

footer ul {
    list-style-type: "| ";
    margin: 0;
    padding: 10px;
    display: inline;    
}

footer li {
    margin: 10px;
}

footer a {
    color: #AAA;
}